.expire-page {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
}
.welcom-title {
    font-size: 1.125rem;
    text-align: center;
    margin-top: 2rem;
}
.record {
    font-size: 0.875rem;
    position: absolute;
    top: 2.6rem;
    right: 0.6rem;
}
.card-bags {
    width: 100%;
    margin-top: 1.8rem;
    display: flex;
}
.card-bags > .card-bag {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.card-bags > .card-bag i {
    font-size: 1.6rem;
}
.card-bags > .card-bag:nth-child(3) i {
    font-size: 1.8rem;
}
.card-bags > .card-bag:nth-child(4) i {
    font-size: 2rem;
}
.card-bags .card-bag__desc {
    font-size: 0.875rem;
    margin-top: 0.8rem;
}
.card-bags .card-bag__button {
    font-size: 12px;
    width: 3rem;
    line-height: 1rem;
    border: 1px solid #262626;
    border-radius: 4px;
    margin-top: 0.8rem;
}
.tips {
    font-size: 0.875rem;
    text-align: center;
    min-height: 1rem;
    margin-top: 1.4rem;
}
.main-card {
    box-sizing: border-box;
    width: 93%;
    height: 27rem;
    margin: 0.8rem auto 0.8rem;
    border: 1px solid #262626;
    border-radius: 4px;
    padding: 0.8rem 0.35rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    perspective: 1200px;
    transform-style: preserve-3d;
}
.main-card__empty,
.main-card__success{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.5rem;
    white-space: nowrap;
}
.main-card__empty {
    transform: translate3d(-50%,-50%,0) rotate(5deg);
}
.main-card__success {
    transform: translate3d(-50%,-50%,0) rotate(-5deg);
}
.main-card__item,
.main-card__item--empty {
    flex: 1;
    min-width: 9.2rem;
    height: 12rem;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 0 0.35rem 0.8rem;
    position: relative;
}
.main-card__item--empty {
    visibility: hidden;
}
.main-card__item .front,
.main-card__item .end {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid #262626;
    border-radius: 4px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-card__item .front {
    transform: rotateY(0);
}
.main-card__item .end {
    transform: rotateY(180deg);
}
.main-card__item--flip .front {
    transform: rotateY(-180deg);
}
.main-card__item--flip .end {
    transform: rotateY(0);
}
.main-card__item .end > p {
    font-size: 1.5rem;
}
.main-card__item .card-bg {
    width: 4.6rem;
    height: 6.97rem;
    transform: scale(1.5);
}