<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
	<title></title>
	<link rel="stylesheet" href="//at.alicdn.com/t/font_1269511_arrsaj0a2gf.css">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<h1 class="welcom-title">您的福利如下：</h1>
	<a class="record" href="javascript:;" onclick="onRecord()">翻牌记录</a>
	<div class="card-bags">
		<div class="card-bag">
			<p><i class="iconfont icon-card"></i></p>
			<p class="card-bag__desc">牌: <span>0</span></p>
			<div data-nums="0" data-cards="1" data-index="0" class="card-bag__button">开启</div>
		</div>
		<div class="card-bag">
			<p><i class="iconfont icon-bag"></i></p>
			<p class="card-bag__desc">包(小): <span>0</span></p>
			<div data-nums="0" data-cards="2" data-index="1" class="card-bag__button">开启</div>
		</div>
		<div class="card-bag">
			<p><i class="iconfont icon-bag"></i></p>
			<p class="card-bag__desc">包(中): <span>0</span></p>
			<div data-nums="0" data-cards="3" data-index="2" class="card-bag__button">开启</div>
		</div>
		<div class="card-bag">
			<p><i class="iconfont icon-bag"></i></p>
			<p class="card-bag__desc">包(大): <span>0</span></p>
			<div data-nums="0" data-cards="4" data-index="3" class="card-bag__button">开启</div>
		</div>
	</div>
	<p class="tips"></p>
	<div class="main-card">
		<!-- block -->
			<!--<div class="main-card__empty">暂无卡牌~</div>-->
		<!-- /block -->
		<!-- block -->
			<!--<div class="main-card__item" data-type="card">
				<div class="front">
					<img class="card-bg" src="./images/card.png" alt="">
				</div>
				<div class="end">
					<p>0.2</p>
				</div>
			</div>
			<div class="main-card__item" data-type="card">
				<div class="front">
					<img class="card-bg" src="./images/card.png" alt="">
				</div>
				<div class="end">
					<p>0.2</p>
				</div>
			</div>
			<div class="main-card__item" data-type="card">
				<div class="front">
					<img class="card-bg" src="./images/card.png" alt="">
				</div>
				<div class="end">
					<p>0.2</p>
				</div>
			</div>
			<div class="main-card__item" data-type="card">
				<div class="front">
					<img class="card-bg" src="./images/card.png" alt="">
				</div>
				<div class="end">
					<p>0.2</p>
				</div>
			</div>-->
		<!-- /block -->
	</div>
	<script src="js/util.js"></script>
	<script src="js/main.js"></script>
</body>
</html>